@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
:root{--primary-color:#134C3F;
--light-grey:#F2F7ED;
--beige:#FBF7ED;
--dark-grey:#676765;
--white:#FFFFFF;
}
*{margin:0;
padding:0;
box-sizing:border-box;
}
/*global styles*/
body{

  font-family: "roboto",sans-serif;

}
/* button style */
.btn{
  padding: 0.9em;
font-size: large;
}
.btn-green{
  background-color:var(--primary-color);
color:var(--white);
border: none;
}

.container{width: 80%;
margin: 0 auto;


}
/* navgation styles */
.navigation{display:flex;
justify-content:space-between;
align-items: center;
color:var(--dark-grey);
}

nav ul{display: flex;
list-style-type: none;
align-items: center;

}
nav ul li{padding: 0.5em;}